<div class="container">
  <h1>{{title}}</h1>

  <div class="triangleForm">
    <div class="mb-3">
      <label for="base" class="form-label">Alap</label>
      <input type="text" id="base" [(ngModel)]="base" class="form-control">
    </div>
    <div class="mb-3">
      <label for="height" class="form-label">Magasság</label>
      <input type="text" id="height" [(ngModel)]="height" class="form-control">
    </div>

    <button (click)="calcArea()"
    class="btn btn-info my-3">Számit
    </button>

    <div class="mb-3">
      <label for="area" class="form-label">Terület</label>
      <input type="text" id="area" [(ngModel)]="area" class="form-control">
    </div>

  </div>
</div>