<div class="container">
  <h1>{{title}}</h1>

  <div class="triangleForm">
    <div>
      <label for="base">Alap</label>
      <!-- hogy el tudjuk érni a ts file-ból -->
      <!-- app.module .ts ts ben importálni kell -->
      <!-- base néven érjük el ts-ben -->
      <input type="text" id="base" [(ngModel)]="base">
    </div>
    <div>
      <label for="height">Magasság</label>
      <input type="text" id="height" [(ngModel)]="height">
    </div>

    <button (click)="calcArea()">Számit</button>

    <div>
      <label for="area">Terület</label>
      <input type="text" id="area" [(ngModel)]="area">
    </div>

  </div>
</div>